/* css for main page */

@font-face {
    font-family: JetBrains Mono;
    src: url(fonts/JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: JetBrains Mono Bold;
    src: url(fonts/JetBrainsMono-Bold.woff2);
}

@font-face {
    font-family: JetBrains Mono Extra Bold;
    src: url(fonts/JetBrainsMono-ExtraBold.woff2);
}

@font-face {
    font-family: JetBrains Mono Medium;
    src: url(fonts/JetBrainsMono-Medium.woff2);
}

@font-face {
    font-family: JetBrains Mono Regular;
    src: url(fonts/JetBrainsMono-Regular.woff2);
}

body {
    font-family: "JetBrains Mono Regular", Arial, monospace;
    background-color:  #9a849a;
    background-repeat: repeat-xy;
    color: #ece8f2;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: "JetBrains Mono Bold", Arial, monospace;
    padding: 10px;
    font-size: 60px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h3 {
    text-align: center;
    color: #ffffff;
}

/* links */
a:link {
    color: #ae9dc8;
    text-decoration: none;
}
a:visited {
    color: #ae9dc8;
    text-decoration: none;
}
a:active {
    color: #ae9dc8;
    text-decoration: none;
}
a:hover {
    color: #937cb6;
    transition: .25s ease;
    text-decoration: none;
}


ul {list-style:none;}
li {display:flex;align-items: center;}
img {margin-right:10px;}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000;
    background-color: #5A3D5C;
    border: 5px solid #382039;
    border-radius: 10px;
    min-height: 1000px;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left:0;
    color: black;
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-rows: 1fr;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    padding: 5px;

    background-color: #4b334d;
}

/* navbar menu button */
.menubutton {
    font-family: "JetBrains Mono Medium", Arial, monospace;
    text-align: center;
    grid-row: 1;
    padding: 15px;
    text-align: center;
    background-color: #4b334d;
    border-radius: 5px;
    transition: .25s ease;
}

.menubutton:hover {
    background-color: #3c293d;
    color: #dfd1e0;
    transition: .25s ease;
}

/* primary content container */
.info-container {
    display: grid;
    gap: 10px 0px;
    grid-template-rows: auto auto;
    padding: 0;
}

.info {
    grid-row-start: 2;
    border: 5px solid #4b334d;
    background-color: #4b334d;
    padding: 0.5em;
    padding-inline-start: 2em;
    border: 5px solid #4b334d; 
    border-radius: 10px;
}

/* computer content container */
.vertical-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    padding-top: 10px;
}

.item {
    border: 5px solid #4b334d;
    background-color: #4b334d;
    padding: 10px;
    padding-inline-start: 10px;
    border: 5px solid #4b334d; 
    border-radius: 10px;
    column-gap: 10px;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
} 

.item-picture {
    grid-column-start: 1;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    border-radius: 10px;
}

.item-content {
    grid-column-start: 2;
}

