/* pulled from archived copy of tringali.org's main page */

BODY           { background-color: black;
                 color:            #F9FDC8;
                 margin:           1em 2em }

A:link         { color:            #8080FF   }

A:visited      { color:            #FF80FF   }

A:active       { color:            #80FF80   }

H1             { text-align: center;
		         background-color: #400040;
                 font-weight:      bold;
                 padding:          0.5em;
                 border:           1px solid #F9FDC8; }

.light         { font-size:        x-small; 
                 font-weight:      normal;
                 font-variant:     small-caps; 
                 color:            #800080  }

BLOCKQUOTE     { font-size:        x-small }

.mainlink      { font-size:        110%;
                 font-weight:      bold }

.incomplete    { font-size:        110%;
                 font-weight:      bold;
                 color: #8080FF }
